*{
    margin: 0;
    padding: 0;
}

:root {
    --blue:#192EE6;
    --green: #D0FE1A;
    --pink: #E474EE;
}

body {
    background-color: var(--blue);
    font-family:"Quantico";
}

h1, h2, h3{
    color: white;
}

/********** Forsiden **********/

.overskrift{
    padding: 50px;
    font-size: 4.5rem;
}

.underoverskrift{
    padding: 29px 50px;
    font-size: 1.2rem;
}

#forskelligt {
    font-weight: bold;
    color: var(--green);
    font-size: 6rem;
}


/****************** Spil 1 *********************/

/* Styling af Spil 1 */

.spil-1 {
    margin: 40px, 20px;
    padding: 2%;
}

/* Alt styling af H1. Samme styling er gentaget for h2/h3 med lidt forskel i str/farver */
.spil-1 h1 {
    color: var(--green);
    font-size: 5vw;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

.spil-1 h2 {
    color: whitesmoke;
    font-size: 3vw;
    font-weight: 100;
    text-align: center;
}

.spil-1 h3 {
    color: var(--green);
    font-size: 3vw;
    font-weight: 100;
}

/* Styling af pile tasterne */
.arrows button {
    background-color: #192EE6;
}

.arrows {
    display: inline-grid;

}

.up {
grid-column-start: 2;
grid-row-start: 1; 
} 
 
.down {
grid-column-start: 2;
grid-row-start: 3; 
}

.right {
    grid-column-start: 3;
    grid-row-start:2; 
}

.left {
    grid-column-start: 1;
    grid-row-start:2; 
}

/* Cirkel progessbar */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.circle-wrap {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}





/****************** Spil 2 *********************/

/* Styling af spil 2 - sammenlign energikilder */



.spil-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20% 20%;
}

.spil-2 {
    color: #D0FF14;
    font-weight: 100;
}


/* Styling af venstre side "Atomkraftværk" */

.page-left {
    grid-column-start: 1;

}

.page-left {
    display: inline-grid;
    grid-template-columns: 2fr;
}

/****** Styling af boks 1 */
.boks-1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.sticker-1 {
    width: auto;
    height: 30vh;
}

/****** Styling af boks 2 */
.boks-2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.sticker-2 {
    width: auto;
    height: 30vh;
}

/****** Styling af boks 3 */
.boks-3 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.sticker-3 {
    width: auto;
    height: 30vh;
}

/****** Styling af boks 4 */
.boks-4 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.sticker-4 {
    width: auto;
    height: 30vh;
}

/* Styling af boks 5 */
.boks-5 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.sticker-5 {
    width: auto;
    height: 30vh;
}


/* Styling af venstre side "Atomkraftværk" */

.page-right {
    grid-column-start: 2;
}







